// Variables

// ------------ COLOURS ------------- //
 
// --- Brand Colours --- //
// BGA Primary
$primary:                          #254F90;
$primaryInteractive:               #4569A0;
$primaryTint1:                     #B3C2D8;
$primaryTint2:                     #EFF4FB;
$primaryHover:                     #1F4176;
$navy:                             #18335C;
 
// BGA Secondary
$secondary:                        #E8BD4F;
$secondaryUI:                      #E5B13D;
$secondaryInteractive:             #EDCA72;
$secondaryTint1:                   #F3DEA7;
$secondaryTint2:                   #FCF4E3;
$secondaryHighContrast:            #C68401; 

// -- Neutrals -- //
 
// Greys
$darkestGrey:                       #505050;
$darkerGrey:                        #737373;
$darkGrey:                          #A0A0A0;
$grey:                              #C4C4C4;
$lightGrey:                         #C7C7C7;
$lighterGrey:                       #D8D8D8;
$lightestGrey:                      #EBEBEB;
$superLightGrey:                    #F5F5F5;
$buttonGroupBorder:                 #D8DCE0;

// --- Backgrounds --- //
$wizardBackgroundGrey:              #EFF3F7;
$backgroundGrey:                    #FAFAFA;
$inputPrependGrey:                  #E9ECEF;


// --- Category Colours --- //
 
// Blue
$bluePrimary:                      #3E96FF;
$blueInteractive:                  #5BA6FF;
$blueTint1:                        #BEDCFF;
$blueTint2:                        #EBF4FF;

// --- Alerts --- //
 
// Good
$green:                             #378334;
$greenInteractive:                  #219520;
$greenTint1:                        #A6D5A6;
$greenTint2:                        #E8F4E8;
 
// Warning
$warning:                           $secondaryHighContrast;

// Not so good
$red:                               #D7201D;
$darkRed:                           #AF1A18;
$redInteractive:                    #E75755;
$redTint1:                          #F5B5B5;
$redTint2:                          #FCE9E9;
$tomato:                            #E22C2A;

// Info
$infoAlert:                         #006EF5;

// --- Text --- //
$headingText:                       #333333;
$matteText:                         #474747;
$greyText:                          #737373;
$link:                              #0063E8;
$linkHover:                         #0F54C3;
$linkVisited:                       #672F8D;

// --- Buttons --- //
$tertiaryBtnUnderline:              #748FB8;

